@inherits ComponentBase
<button type="button" class="group flex w-full items-center justify-between space-x-3 rounded-sm border border-slate-950 px-2 mx-4 text-left shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <span class="flex min-w-0 flex-1 items-center space-x-3">
                <span class="block flex-shrink-0">
                    <div class="h-3 w-3 @ButtonColorClass rounded-full"></div>
                </span>
                <span class="block min-w-0 flex-1">
                    <span class="block truncate text-xs font-medium text-gray-500">@ButtonText</span>
                </span>
            </span>
    <span class="inline-flex h-10 w-10 flex-shrink-0 items-center justify-center">
                <svg class="h-5 w-5 text-gray-600 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
            </span>
</button>

@code {
    [Parameter]
    public string ButtonText { get; set; }
    
    [Parameter]
    public string ButtonColorClass { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}